@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

.cardTime {
  text-decoration: none;

  article {
    width: 80%;
    height: 10vh;
    margin: 5% 10% 5% 10%;
    @include center;
    flex-direction: row;

    &:hover {
      div:first-child,
      div:last-child {
        background-color: $txt;

        p {
          color: $white;
        }
        img {
          filter: brightness(0) saturate(100%) invert(99%) sepia(3%)
            saturate(832%) hue-rotate(282deg) brightness(116%) contrast(100%);
        }
      }
    }

    p {
      font-weight: 500;
      font-size: 2.2vh;
    }

    div:first-child {
      @include center;
      height: inherit;
      width: 20%;
      border: 0.1vh $txt solid;
      
    }

    div:nth-child(2) {
      @include center;
      height: inherit;
      width: 60%;
      flex-direction: inherit;
      border: 0.1vh $txt solid;
    }

    div:last-child {
      @include center;
      border: 0.1vh $txt solid;
      width: 20%;
      height: inherit;
      img {
        width: 4vh;
        height: auto;
      }
    }
  }
}
