@import "./_fonts.scss";
@import "./_variable.scss";
@import "./_mixin.scss";
@import "~bootstrap/scss/bootstrap";

main,
#main_locationRoom {
  height: max-content;
  width: 100%;
  padding: 5% 1.5%;
}

//  presentation section

//     a.btn.btn-primary {
//       width: 60%;
//       margin-block: 5%;
//       padding-block: 2%;
//       border-radius: 0 !important;
//       border: $txt 0.1vh solid;
//       background-color: $white;
//       color: $txt;
//       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//       &:hover {
//         background-color: $txt;
//         color: $white;
//       }
//     }
//   }
// }
// }

//  event googleReviews

#article_socialMedia,
.article_feed_googleReviews {
  background-color: $light_grey;
  height: 32vh;
  @include flexB;
  justify-content: space-around;
  flex-wrap: wrap;
}

#article_socialMedia {
  height: 35em;
  .header_vertical {
    @include titleVertical;
  }
  #article_feed_socialMedia {
    width: 80% !important;
    height: 75%;
    @include flexB;
    justify-content: space-around;
  }
}

// PARC ET DOMAINE
#main_parkAndDomain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container-fluid {
    width: 80%;
    background-color: $verdigris;
    margin-top: 14%;
    margin-inline: 10%;
    height: 250vh;

    img {
      width: 60%;
      height: auto;
      margin-top: -14%;
      position: absolute;
      right: 0;
    }
  }

  // CONTENT ARTICLES FROM 1 TO 3
  section {
    margin: 0;
    position: absolute;
    margin-top: 2%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -15%;

    h2 {
      text-align: center;
      margin-left: 30vh;
      margin-block: 3vh;
      font-size: 1.5vw;
      font-weight: 600;
    }

    .article1,
    #article2 {
      padding-inline: 12%;

      .img1 {
        position: absolute;
        left: 17%;
        margin-top: -3%;
      }

      #img2 {
        position: absolute;
        right: 4%;
        margin-top: -3%;
      }

      .span_firstLetter {
        @include majChanges;
      }

      p {
        width: 90%;
        height: 50%;
        border: 0.1vh solid;
        background-color: $white;
        font-weight: 400;
        font-size: 0.9vw;
        padding: 5% 5% 5% 33%;
        margin: 0% 0% 10% 20%;

        #btn_artisan {
          @include btnType1;
          margin: 5% 0% -3% 35%;

          #Icon_ceramist {
            position: absolute;
            left: 55%;
            height: 90%;
            width: 90%;
            display: none;
          }
          &:hover {
            #Icon_ceramist {
              display: block;
            }
          }
        }
      }
    }
    #article2 {
      p {
        padding: 5% 33% 5% 5%;
        margin: 0% 0% 10% 8%;
      }
    }
  }
}
