@import "../../../../styles/_fonts.scss";
@import "../../../../styles/_variable.scss";
@import "../../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

.formAccomodation{
    padding: 3% 4% 3% 4%;

    span{
        font-size: 2vw;
        color: $red;
    }

    input, textarea, select {
        border-color: $txt;
        color: $dark_grey !important;
        font-size: 1.2vw !important;
        font-style: italic;
        resize: none;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(214, 96, 96, 0.438);
          border-color: $red;
        }
    }

    select option:checked {
      background: linear-gradient(#d6d6d6, #d6d6d6);
      background-color: $red !important; /* for IE */
      color: $white !important;
  }

    .halfsize {
        width: 48%;
      }
      
      .form-check-input:checked{
        background-color: $red;
        
      }

    ::placeholder, input[type=file]{
        color: $slate !important;
        font-size: 1vw !important;
  }

    button.btn.btn-primary {
        width: 30% !important;
        @include btnType1;
        padding: 1% 11%;
        margin-inline: 35%;
      }
}
