@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

.titleBackend{
    margin: 5vh 0vh 0vh 5vh;
    text-decoration:underline;
    text-underline-offset: 2vh;
}