@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

.manage_events {
    display: flex;
    flex-direction: row;
    margin-block: 3% 5%;
  
    .side_image {
      width: 20%;
      height: 95vh;
      display: block;
      background-image: url("../../../../public/assets/photos/event.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -24vh;
    }
}