@import "../../styles/_fonts.scss";
@import "../../styles/_variable.scss";
@import "../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

//  nav and disconnecting button
.nav_SelectionMenu{
    background-color: $black;
    height: 10vh;
    width: 100%;
button{
    height: 100%;
    width: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $black;
    font-size: 1.2vw;
    font-weight: 600;
    a{
        text-decoration: none;
        color: $white;
    }
    img{
        width: 4vh;
        height: auto;
        filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(832%) hue-rotate(282deg) brightness(116%) contrast(100%);
    }
    &:hover{
        background-color: $white;
        color: white;

        img{
            filter: none;
        }
        a{
            color: $black;
        }
    }
}
}

// main 

.main_SelectionMenu{
    height: 200vh;
    width: 100%;
}