@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

// cardEvent
.card_new_event {
  height: 10em;
  width: 100%;
  @include flexA;

  .new_event {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    h3,
    h4 {
      font-weight: 600;
      text-align: center;
    }
    h3 {
      width: 85%;
      font-size: 1.1em;
      padding-left: 15%;
    }
    h4 {
      width: 13.5%;
      padding: 0.3em;
      font-size: 0.9em;
      border: 1px $txt solid;
    }
  }
  .card_eventMain {
    height: 7.5em;
    @include flexB;

    .event_img {
      width: 32%;
      padding: 0;
      height: inherit;
      margin-right: 2%;
      border: $txt solid 1px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      img {
        width: 100%;
        height: 7.4em;
        object-fit: cover;
        border: $txt solid 1px;
      }
    }
    .event_body {
      width: 70%;
      height: inherit;
      padding: 2%;
      @include flexA;
      background-color: $white;
      border: $txt solid 1px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      span {
        height: 6em;
        width: 100%;
        font-size: 0.9em;
        display: block;
      }
      footer {
        height: 1.4em;
        width: 98%;
        display: flex;
        justify-content: flex-end;
        a {
          font-size: 0.9em;
          color: $txt;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &:hover {
    .event_img,
    .event_body {
      box-shadow: 10px 10px 0px $cream;
    }
    .event_img {
      filter: brightness(123%) saturate(212%);
      -webkit-filter: brightness(123%) saturate(212%);
      -moz-filter: brightness(123%) saturate(212%);
    }
  }
}

// card media

#card_new_journalist {
  height: 98%;
  @include flexA;
  justify-content: space-between;
  align-items: center;
  margin-block: 1%;
  .journalist_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    h3 {
      font-size: 1em;
      font-weight: 600;
    }
  }
  .journalist_body {
    height: 88%;
    border: $txt solid 0.1vh;
    display: flex;
    align-content: space-between;
    justify-content: space-around;

    .card_media_txt {
      height: 20em;
      padding: 2%;
      font-size: 1.8vh;
      display: block;
    }
    .card_media_video {
      width: 100%;
      height: 10em;
    }
  }
}

// other social medias API
.card_socialMedias {
  width: 16%;
  height: 100%;
  background-color: $white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  .socialMedia_header {
    div {
      display: flex;
      justify-content: flex-end;
      img {
        width: 17%;
        padding: 2% 2% 0% 2%;
      }
    }
    img:nth-child(2) {
      width: 100%;
      height: 14.8vh;
      object-fit: cover;
    }
  }
  .socialMedia_body {
    font-size: 0.9em;
    display: block;
    padding: 4%;
  }
  .socialMedia_footer {
    width: 100%;
    @include flexA;
    justify-content: center;
    #line {
      border-top: 1px solid $txt;
      width: 80%;
    }
    .social_icones {
      width: inherit;
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding-inline: 5%;
      div:first-child {
        width: 40%;
        display: flex;
        align-content: center;
        justify-content: space-around;
      }
      div:nth-child(2) {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        p {
          font-size: 0.9em;
        }
      }
    }
  }
}

// google API
.card_google {
  width: 22%;
  height: 70%;
  margin-bottom: 3%;
  background-color: $white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  a {
    text-decoration: none;
    color: #1e1e1e;
    display: block;
    .card_google_body {
      margin: 1%;
      font-size: 0.8em;
      font-style: italic;
      text-transform: none;
      display: block;
    }
  }
}

.card_caroussel_index{
  margin: 2%;
}

// card Room to Rent
.cardRoomToRent {
  border: $txt solid 0.1vh;
  width: 100%;
  div {
    p {
      font-weight: 600;
    }
  }
}
