@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

.header_back{
    width: 100%;
    background-color: $black;
    div{
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-inline: 3vh;
        background-color: $black;

        h2{
            margin-top: 1vh;
            color: $white;
            @include smallTitle;           
        }
        img{
            width: 3vh;
            height: auto;
            margin-left: 2vh;
        }
    }
    img{
    @include responsiveImg
}
}