@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";

#main_title{
  background-color: $black;
  padding-block: 0.5em;
  h1{
    font-size: 4.5em;
    margin-left: 0.5em;
    font-family: "Handmagic Signature";
    color: $white;
    
  }
}

main,
#main_locationRoom {
  height: max-content;
  width: 100%;
  padding: 5% 1.5%;
}

//  PRESENTATION
#index_presentation {
  width: 95%;
  height: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;

  .index_card_intro {
    @include flexA;
    justify-content: center;
    width: 45%;
    padding: 0;
    h3 {
      width: 75%;
      height: auto;
      text-align: center;
      margin-block: 1.2em;
      font-size: 1.2em;
      font-weight: 600;
    }
    .ant-card {
      width: 100%;
      div.ant-card-body {
        @include flexB;
        justify-content: space-between;
        p {
          width: 70%;
          padding: 2%;
          font-size: 1em;
          span {
            font-family: "Handmagic Signature";
            line-height: 0%;
            font-size: 3em;
          }
        }
      }
    }
  }
}
// media querries presentation section
@media only screen and (max-width: 1200px) {
  #index_presentation {
    display: flex;
    flex-wrap: wrap;
    .index_card_intro {
      width: 90%;
      margin-bottom: 2em;
      .ant-card-body {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  #index_presentation {
    .index_card_intro {
      h3 {
        font-size: 0.8em;
      }
      .ant-card {
        width: 100%;
        div.ant-card-body {
          p {
            font-size: 0.8em;
            span {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  #index_presentation {
    .ant-card {
      img {
        display: none;
      }
    }
  }
}
//   end media querries

//  NEW EVENT AND ARTICLE BY JOURNALIST
#index_news {
  @include flexB;
  align-items: center;
  justify-content: space-around;
  margin-block: 8%;
  height: 38em;
  background-color: $light_grey;
  header {
    @include titleVertical;
  }
  #feed_news {
    @include flexA;
    justify-content: space-around;
    width: 62%;
    height: inherit;
  }

  #feed_media {
    width: 25%;
    height: inherit;
  }
}
// media querries presentation section
@media only screen and (max-width: 1250px) {
  #index_news {
    @include flexA;
    padding: 2% 5%;
    height: 40em;
    header {
@include titleHorizontal
    }
    #feed_news {
      width: 100%;
    }

    #feed_media {
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  #index_news {
    padding: 2% 0%;
    #feed_news {
      width: 100%;
    }
  }
}

// ACTIVITIES INDEX

#index_activities {
  @include flexA;
  justify-content: center;

header {
  @include titleHorizontal;
  padding-block: 2% 1.5%;
}
}

#index_socialMedia{
  width: 90%!important;
  margin: 5% 8%!important;
}

