@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/_mixin.scss";
@import "~bootstrap/scss/bootstrap";


.pathBed {
    display: flex;
    flex-direction: row;
    margin-block: 5%;
  
    .side_image {
      width: 25%;
      height: 95vh;
      display: block;
      background-image: url("../../../../public/assets/photos/bedroom.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -54vh;
    }
  
    div.container {
      width: 75%;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 5% 15%;
      h2 {
          text-align: center;
          font-weight: 500;
          font-size: 1.5vw;
          margin-bottom: 10%;
      }
      div {
        display: flex;
        justify-content: space-around;
  
        .card_back:first-child {
          background-image: url("../../../../public/assets/photos/bedroom2.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position-x: -10.5vh;
        }
  
        .card_back:last-child {
          background-image: url("../../../../public/assets/photos/dorms.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position-x: -25.5vh;
        }
      }
    }
  }