@import "../../../styles/_fonts.scss";
@import "../../../styles/_variable.scss";
@import "../../../styles/mixin";
@import "~bootstrap/scss/bootstrap";

  div.container.pathFood{
    width: 75%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5% 15%;
    h2 {
        text-align: center;
        font-weight: 500;
        font-size: 1.5vw;
        margin-bottom: 10%;
    }
    div {
      display: flex;
      justify-content: space-around;

      .card_back:first-child {
        background-image: url("../../../../public/assets/photos/caterer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      .card_back:last-child {
        background-image: url("../../../../public/assets/photos/restaurant.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -39vh;
      }
    }
  }
